.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em 1.2em;
    margin-top: 2em;
    background-color:  #830404;
    color: #fff;
    height: 165px;
    border-top: 3px solid #111;
}

.footer p {
    margin-bottom: 0.5em;
}

.footer span {
    font-weight: bold;
}